
footer.bg-dark.text-white.mt-5.py-4
    .container.text-center
        p.mb-1 &copy; 2025 Estore. All rights reserved
        p.mb-1
            a.text-white(href="/downloads/goods.json") Download Data (JSON)
        p.mb-0
            | Made with 
            span.text-danger &hearts;
            |  by Your Company