extends layout

block content
  h1 Login
  
  if error
    p.error(style="color: red;") #{error}
  
  form(method="POST" action="/login")
    div(style="margin-bottom: 10px;")
      label(for="email") Email:
      br
      input(type="email" id="email" name="email" required style="width: 300px; padding: 5px;")
    
    div(style="margin-bottom: 10px;")
      label(for="password") Password:
      br
      input(type="password" id="password" name="password" required style="width: 300px; padding: 5px;")
    
    div
      button(type="submit" style="padding: 8px 20px; cursor: pointer;") Login
  
  p Don't have an account? 
    a(href="/register") Register here

