include product_card.pug

mixin productsList(section, showCatalog = false)
  .row
    .col-12
      h1.text-center.mb-4
        span.text-capitalize= section.category
        if showCatalog
          |  Catalog
  .row
    each item in section.items
      +productCard(item)