extends template.pug

block content
  .container.mt-4
    .row
      .col-12
        h1.text-center.mb-4.text-capitalize category
        if categories.length
          .row
            ul
              each category in categories
                li
                  a(href=`/category/${category}`)
                    span.text-capitalize= category
        else
          .alert.alert-warning.text-center No categories found.




