extends template.pug
include mixins/products_list.pug

block content
  .container.mt-4
    if sections.length
      each section in sections
        +productsList(section)
    else
      .alert.alert-warning.text-center No goods found.